h1 {
	color: black;
	font-size: 24px;
	font-family: Helvetica;
}
li {
	color: navy;
	font-size: 24px;
	font-family: Helvetica;
}
body { background-image: url("http://www.porcelaingres.com/img/collezioni/JUST-BEIGE/big/just_beige_light_beige.jpg"); }
img {
	width: 40%;
	margin-right: 2000px;
}